<% @enquiry.each do |e| %>
	<p><strong>Name:</strong><%= e.name %> <br>
	<strong>Email:</strong> <%= e.email %> <br>
	<strong>Phone:</strong> <%= e.phone %> <br>
	<strong>Message:</strong> <%= e.message %>
<% end %>

<% if admin_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_admin_session_path)  %>  
  </li>
<% end %>